/.idea/*
/**/.idea/*
!/.idea/codeStyles

*.iml
**/*.iml

/.settings
/**/.settings

/**/target/**


/.project
/**/.project

/.m2

.env
georchestra-photos-obliques-core/target
georchestra-photos-obliques-storage/target
georchestra-photos-obliques-service/target
georchestra-photos-obliques-facade/target
/.project
