## Version de l'application
application.version=@project.version@
application.comment=Photos Obliques @project.version@

georchestra.role.administrator=ROLE_ADMINISTRATOR

photos-obliques.tolerance.angle=20
photos-obliques.url.vignette=https://public.sig.rennesmetropole.fr/ressources/donnees/photosobliques/vignettes2/
photos-obliques.url.apercu=https://public.sig.rennesmetropole.fr/ressources/donnees/photosobliques/apercus2/

photos-obliques.acces.photohd=/etc/georchestra/photos-obliques/RennesMetropole/Photos_Obliques/HD
photos-obliques.panier.max.photos=200

photos-obliques.geometries.srid=EPSG:3948

# SERVER
server.port=8080

spring.security.user.name=admin
spring.security.user.password={noop}4dM1nApp!
spring.security.user.roles=USER

# TEMPORARY DIRECTORY
temporary.directory=${java.io.tmpdir}/photos-obliques

# LOG
logging.level.org.springframework=DEBUG
logging.level.org.georchestra=DEBUG

# Configuration BDD
spring.phototheque.datasource.jdbc-url=jdbc:postgresql://${pgsqlHost}:${pgsqlPort}/${pgsqlDatabase}?currentSchema=phototheque&ApplicationName=georchestra
spring.phototheque.datasource.username=consult
spring.phototheque.datasource.password=consult
spring.phototheque.datasource.driver-class-name=org.postgresql.Driver
spring.phototheque.datasource.hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
spring.phototheque.datasource.hibernate.show_sql=true
spring.phototheque.datasource.hibernate.format_sql=false

## Base de données statistiques
spring.stats.datasource.jdbc-url=jdbc:postgresql://${pgsqlHost}:${pgsqlPort}/${pgsqlDatabase}?currentSchema=stats&ApplicationName=georchestra
spring.stats.datasource.username=stats
spring.stats.datasource.password=stats
spring.stats.datasource.driver-class-name=org.postgresql.Driver
spring.stats.datasource.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.stats.datasource.hibernate.show_sql=true
spring.stats.datasource.hibernate.format_sql=false
spring.stats.datasource.hibernate.hbm2ddl.auto=none



